<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pantry App</title>
</head>
<body>
  <%- include('partials/_navbar.ejs') %>
  <% if (user) { %>
    <h1>Welcome to the Pantry app, <%= user.username %>!</h1>
    <p>The Pantry app is a dynamic pantry management app that helps users track, organize, and update their home kitchen inventory.</p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <h1>Welcome to the Pantry app, guest!</h1>
    <p>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/sign-in">Sign in</a>.
    </p>
  <% } %>
</body>
</html>
