<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Food</h1>
    <form action="">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />

      <label for="qty">Quantity:</label>
      <input type="text" name="qty" id="qty" />

      <label for="category">Category:</label>
      <select id="category" name="category">
        <option value="spice">Spice</option>
        <option value="vegetable">Vegetable</option>
        <option value="fruit">Fruit</option>
        <option value="meat">Meat</option>
        <option value="seafood">Seafood</option>
        <option value="dairy">Dairy</option>
        <option value="grain">Grain</option>
        <option value="baking">Baking</option>
        <option value="canned">Canned</option>
        <option value="frozen">Frozen</option>
        <option value="condiment">Condiment</option>
        <option value="beverage">Beverage</option>
        <option value="snack">Snack</option>
        <option value="other">Other</option>
      </select>

      <label for="expiresAt">Expiration Date:</label>
      <input type="date" id="expiresAt" name="expiresAt" />

      <label for="notes">Notes:</label>
      <textarea name="notes" id="notes"></textarea>
    </form>

    <button type="submit">Add New Food</button>
  </body>
</html>
